@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  min-height: 100vh;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  background: #FAFAFA;
}

.section {
  position: relative;
  border: 1px solid #d0d0d0;
}

.section .landing {
  position: relative;
  height: 700px;
  border-bottom-left-radius: 10em;
  background: -webkit-gradient(linear, left top, right bottom, from(#ff8f70), to(#ff3d54));
  background: linear-gradient(to right bottom, #ff8f70, #ff3d54);
  overflow: hidden;
}

.section .landing::before {
  content: url("./../../images/bg-pattern-intro.svg");
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 200%;
  left: -20%;
  mix-blend-mode: soft-light;
}

.section header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4em 2rem;
}

.section .menu {
  width: auto;
}

.section .menu__links {
  display: none;
}

.section main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 90%;
  margin: auto;
  color: white;
}

.section main h1 {
  font-family: "Overpass";
  font-weight: 600;
  font-size: 47px;
  margin: 40px 0 20px 0;
}

.section main small {
  font-family: "Overpass";
  font-size: 1.5rem;
  font-weight: 300;
}

.section main .cta {
  padding: 2.5rem;
}

.section main .cta button {
  margin: 0 0.8em;
  padding: 1em;
  color: white;
  font-family: "Ubuntu";
  font-weight: 700;
  font-size: 1rem;
  border-radius: 2em;
  background: none;
  border: 1px solid white;
}

.section main .cta .left {
  color: #ff525d;
  background: white;
}

.section article {
  overflow-x: hidden;
  text-align: center;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5em;
}

.section article h2 {
  font-size: 1.75rem;
  color: #1f3f5b;
}

.section article p {
  color: #4b5862;
  font-family: "Overpass";
  font-weight: 600;
  opacity: 0.8;
}

.section article picture {
  padding: 1em 0;
}

.section .info-phone {
  margin: 0;
  margin: 20em 0 5em;
  height: 700px;
  border-radius: 0rem 8rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#3f4164), to(#2c2d3f));
  background: linear-gradient(#3f4164, #2c2d3f);
  position: relative;
}

.section .info-phone picture {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  top: -35%;
}

.section .info-phone h2 {
  font-family: "Overpass";
  font-size: 2.25rem;
}

.section .info-phone .info {
  padding-top: 15rem;
}

.section .info-phone h2, .section .info-phone p {
  padding-top: 20px;
  width: 65%;
  margin: auto;
  color: white;
}

.section .info-phone p {
  opacity: 0.6;
}

.section .free, .section .editor {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 900px) {
  .section article {
    text-align: left;
  }
  .section .free {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .section .editor {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .section .info-phone {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */