@import "globals";

.section{
    position: relative;
    border: 1px solid #d0d0d0;

    .landing{
        position: relative;
        height: 700px;
        border-bottom-left-radius: 10em;
        background: linear-gradient(to right bottom,$firstRed,$secondRed);
        overflow: hidden;

        &::before{
            content: url("./../../images/bg-pattern-intro.svg");
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            bottom: 200%;
            left: -20%;
            mix-blend-mode: soft-light;

        }
    }
    header{
        display: flex;
        justify-content: space-between;
        padding: 4em 2rem;
    }

    .menu{
        width: auto;
        &__links{
            display: none;
        }


    }

    main{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: 90%;
        margin: auto;
        color: $white;

        h1{
            font-family: $overpass;
            font-weight: 600;
            font-size: 47px;
            margin: 40px 0 20px 0;
        }
        small{
            font-family: $overpass;
            font-size: toRem(24);
            font-weight: 300;
        }

        .cta{
            padding: toRem(40);

            button{
                margin: 0 0.8em;
                padding: 1em;
                color: $white;
                font-family: $ubuntu;
                font-weight: 700;
                font-size: toRem(16);
                border-radius: 2em;
                background: none;
                border: 1px solid $white;
            }

            .left{
                color: $text;
                background: $white;
            }
        }
    }

    article{
        text-align: center;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 5em;
        h2{
            font-size: toRem(28);
            color: $heading;
        }
        p{
            color:$body;
            font-family: $overpass;
            font-weight: 600;
            opacity: 0.8;
        }
        picture{
            padding:1em 0;
        }
    }

    .info-phone{
        margin: 0;
        margin: 20em 0 5em ;
        height: 600px;
        border-radius: 0rem 10rem ;
        background:linear-gradient($secondBlue, $firstBlue);
        position: relative;
        

        picture{
            position: absolute;
            left: 50%;
            transform: translate(-50%);
            top: -35%;
        }
        h2{
            font-family: $overpass;
            font-size: toRem(36);
        }
        .info{
            padding-top: 15rem;

        }
        h2, p{
            padding-top: 20px;
            width: 65%;
            margin: auto;
            color: $white;
        }
        p{
            opacity: 0.6;
        }
    }
    .free, .editor{
        width: 65%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


@media only screen and (min-width:900px) {
    .section{
      
        article{
            text-align: left;
        }
        .free{
            flex-direction:row;
        }
        .editor{
            flex-direction: row-reverse;
        }
        .info-phone{
            width: 100%;
        }
        
    }

}