@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  min-height: 100vh;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  background: #FAFAFA;
}

.section {
  width: 100%;
  position: relative;
  border: 1px solid #d0d0d0;
}

.section .landing {
  width: 100%;
  position: relative;
  height: 625px;
  border-bottom-left-radius: 5.6em;
  background: url(./../../images/bg-pattern-intro.svg) center;
  background-size: 200%;
  background-repeat: no-repeat;
  background-color: #ff3d54;
}

.section header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px 2rem;
}

.section .menu {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: relative;
}

.section .menu__links {
  display: block;
  width: 337.5px;
  position: absolute;
  left: -910%;
  top: 50px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 1.25rem;
  font-family: "Overpass";
  -webkit-box-shadow: 0 10px 20px #ccc;
          box-shadow: 0 10px 20px #ccc;
  border-radius: 0.5em;
}

.section .menu__links .drop {
  width: 100%;
  border: none;
  background: none;
  font-family: "Overpass";
  font-size: 1.125rem;
  font-weight: 600;
  padding: 1rem;
}

.section .menu__links .dropdown-content {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  background: #EFEFF1;
  padding: 1em;
  border-radius: 0.5em;
  color: #4b5862;
}

.section .menu__links .dropdown-content a {
  text-decoration: none;
  color: #4b5862;
  padding: 10px 0;
  font-weight: 600;
  opacity: 0.8;
}

.section .menu__links .line {
  width: 100%;
  height: 1px;
  opacity: 0.2;
  background: #25252d;
  margin: 20px 0;
}

.section .menu__links .login, .section .menu__links .signup {
  margin: auto;
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-family: "Ubuntu";
  margin-top: 0.5rem;
  padding: 1rem 3rem;
  font-size: 16px;
  border-radius: 5rem;
  background: -webkit-gradient(linear, right top, left top, from(#ff3d54), to(#ff8f70));
  background: linear-gradient(to left, #ff3d54, #ff8f70);
}

.section .menu__links .login {
  background: none;
  color: #4b5862;
  font-size: 1.25rem;
}

.section .menu .display {
  display: block;
}

.section main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 80%;
  margin: auto;
  color: white;
}

.section main h1 {
  font-family: "Overpass";
  font-weight: 600;
  font-size: 2.0625rem;
  margin: 40px 0 10px 0;
}

.section main small {
  font-family: "Overpass";
  font-size: 1.0625rem;
  font-weight: 300;
}

.section main .cta {
  padding: 2rem 0;
}

.section main .cta button {
  cursor: pointer;
  margin: 0 0.3em;
  padding: 0.8em 1em;
  color: white;
  font-family: "Ubuntu";
  font-weight: 700;
  font-size: 1rem;
  border-radius: 2em;
  background: none;
  border: 1px solid white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.section main .cta button:hover {
  background: white;
  color: #ff525d;
}

.section main .cta .left {
  color: #ff525d;
  background: white;
}

.section main .cta .left:hover {
  color: white;
  background: #ff7a85;
}

.section article {
  overflow-x: hidden;
  text-align: center;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5em;
}

.section article h2 {
  font-size: 1.75rem;
  font-family: "Overpass";
  color: #1f3f5b;
}

.section article p {
  color: #4b5862;
  font-size: 16px;
  font-family: "Overpass";
  font-weight: 300;
  margin-bottom: 3rem;
  opacity: 0.8;
}

.section article picture {
  padding: 1em 0;
}

.section .info-phone {
  margin: 0;
  margin: 15em 0 5em;
  height: 625px;
  border-radius: 0rem 6rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#3f4164), to(#2c2d3f));
  background: linear-gradient(#3f4164, #2c2d3f);
  position: relative;
}

.section .info-phone picture {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  top: -30%;
}

.section .info-phone h2 {
  font-family: "Overpass";
  font-size: 1.875rem;
}

.section .info-phone .info {
  padding-top: 14rem;
}

.section .info-phone h2, .section .info-phone p {
  padding-top: 10px;
  width: 80%;
  margin: auto;
  color: white;
}

.section .info-phone p {
  opacity: 0.6;
}

.section .free, .section .editor {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section footer {
  background: #25252d;
  border-top-right-radius: 6rem;
}

.section footer .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5em 0;
}

.section footer .link .attribution {
  display: inline-block;
}

.section footer .link > div {
  padding: 2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section footer a {
  color: #c8c8cb;
  padding: 0.4em;
  text-decoration: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.section footer a:hover {
  text-decoration: underline;
}

.section footer span {
  font-weight: 600;
  padding: 0em 0em 1em 0em;
  color: white;
}

.section footer span a {
  color: white;
}

@media only screen and (min-width: 900px) {
  .section article {
    text-align: left;
  }
  .section .free {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .section .editor {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .section .info-phone {
    width: 100%;
  }
  .section footer .link {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .section footer .link > div {
    padding: 0;
  }
}
/*# sourceMappingURL=style.css.map */